{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<a id="repo" type="button" class="btn btn-danger" href="https://www.savethechildren.org/us/where-we-work/ukraine">#StopWarInUkraine! Save the Children</a>
<br>
<br>
<br>
<div class="col">
    <div class="jumbotron">
            <h6>Hood Updates</h6>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <textarea required class="form-control" name="description" rows="3"
                                placeholder="Whats happening on your Hood..."></textarea>
                        </div>
                        <input required type="file" name="image" id="files" class="form-control" />
                        <button id="postBtn" type="submit" class="btn btn-primary mb-3">Share </button>
                    </form>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="material-icons-outlined">
                    Emergency Contacts
                </span></h5>
                <p class="card-text">
                    In case there's an emergency in your area, Please contact the toll numbers provided on your mailbox. 
                </p>
                
            </div>
        </div>

    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="material-icons-outlined">
                    Security
                </span></h5>
                <p class="card-text">
                   The Emergency Police services are always available in case of any security issue. We ensure that our Neighbourhood is 100% safe
                </p>
                
            </div>
        </div>

    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="material-icons-outlined">
                    Service Charge
                </span></h5>
                <p class="card-text">
                   We tend to ask for some token to motivate our workers who work tirelessly to make sure that we have a clean environment, we would therefore ask for $50 a month from each household
                </p>
            
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title"><span class="material-icons-outlined">
                    Noise Pollution
                </span></h5>
                <p class="card-text">
                   Since we should be mindful of our neighbours, we would like to emphasize that we should not make so much noise especially at night.
                </p>
        
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
      <div id="jumbos" class="updates mt-2">
        <div class="users">
          <h6>Hood Updates</h6>
        </div>
        <div class="jumbotron" id="scrolls">

{%endblock%}


